@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kayıt Ol | Öğrenci Bilgi Sistemi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/owl.carousel.css">
    <link rel="stylesheet" href="~/kiaalap/css/owl.theme.css">
    <link rel="stylesheet" href="~/kiaalap/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/normalize.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/kiaalap/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/kiaalap/css/calendar/fullcalendar.print.min.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/form/all-type-forms.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/kiaalap/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="text-center custom-login">
                <h3>KAYIT OL</h3>
            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm" method="post">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Kullanıcı adı</label>
                                    <input class="form-control" name="kullanici">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Şifre</label>
                                    <input type="password" class="form-control" name="sifre">
                                </div>
                                <div class="checkbox col-lg-12">
                                    <input type="checkbox" class="i-checks" checked> Bültenimize abone olun
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-success loginbtn" value="Kayıt ol">
                                <button class="btn btn-default" onclick="location.href='Giris'">İptal </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text-center login-footer">
                <p>Copyright © 2020. Tüm hakları Saklıdır | Design by İSA ÇETİN</p>
            </div>
        </div>
    </div>
    <!-- jquery
        ============================================ -->
    <script src="~/kiaalap/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/kiaalap/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/kiaalap/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/kiaalap/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/kiaalap/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/kiaalap/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/kiaalap/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/kiaalap/js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/kiaalap/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/kiaalap/js/icheck/icheck.min.js"></script>
    <script src="~/kiaalap/js/icheck/icheck-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/kiaalap/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/kiaalap/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
</body>

</html>