@model OgrenciNotMvc.Models.EntitiyFramework.TBLADMIN
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Admin Tanımla

</button>
<div class="modal" id="Modal1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h2 class="modal-title">Admin Ekleme Paneli</h2>

            </div>

            <form method="post" action="/Admin/YeniAdmin">

                <div class="modal-body">

                    <label>

                        Kullanıcı Adı

                    </label>

                    @Html.TextBoxFor(m => m.kullanici, new { @class = "form-control" })

                    <br />

                    <label>

                        Şifre

                    </label>

                    @Html.TextBoxFor(m => m.sifre, new { @class = "form-control" })



                    <br />

                    <button type="submit" class="btn btn-info">Kaydet</button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>

                </div>

            </form>

        </div>

    </div>

</div>


