
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <title> Öğrenci Bilgi Sistemi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="~/university/css/bootstrap.css">
    <link rel="stylesheet" href="~/university/css/animate.css">
    <link rel="stylesheet" href="~/university/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/university/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/university/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/university/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/university/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/university/css/style.css">
</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="/Anasayfa/Index">MVC ÜNİVERSİTE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Anasayfa/Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Anasayfa/Ogrtmenler">Öğretmenler </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Anasayfa/Dersler">Dersler</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav absolute-right">
                        <li>
                            <a href="~/GirisYap/Giris">Giriş Yap</a> / <a href="~/GirisYap/KisiEkle">Kayıt Ol</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(/university/images/big_image_1.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-center site-hero-inner">
                <div class="col-md-10">

                    <div class="mb-5 element-animate">
                        <div class="block-17">
                            <h2 class="heading text-center mb-4">BİLİMİN VE ÇAĞDAŞLIĞIN IŞIĞINDA BİR DÜNYA ÜNİVERSİTESİ</h2>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="site-section element-animate">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                    <div class="block-16">
                        <figure>
                            <img src="~/university/images/img_1.jpg" alt="Image placeholder" class="img-fluid">

                        </figure>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
            <div class="block-15">
                        <div class="heading">
                            <h2>Üniversiteye Hoşgeldiniz</h2>
                        </div>
                        <div class="text mb-5">
                            <p>
                                Mersin Üniversitesi, TBMM'nin 3 Temmuz 1992 tarihinde kabul ettiği 3837 sayılı Kanun ile kurulmuş, 10 Kasım 1992 tarihinde faaliyete geçmiştir.

                                1993-1994 eğitim-öğretim yılında Fen-Edebiyat Fakültesi, Güzel Sanatlar Fakültesi, İktisadi ve İdari Bilimler Fakültesi, Mühendislik Fakültesi, Turizm İşletmeciliği ve Otelcilik Yüksekokulu, Mersin Meslek Yüksekokulu, Gülnar Meslek Yüksekokulu, Mut Meslek Yüksekokulu, Tarsus Meslek Yüksekokulu ile lisansüstü programlarını yürütecek Sosyal Bilimler ve Fen Bilimleri Enstitülerine öğrenci alarak eğitim-öğretime başlamıştır.

                                Kuruluşundan bu yana; fakülte sayısını 15’e,  yüksekokul sayısını 8’e, meslek yüksekokulu sayısını 11’e, enstitü sayısını 5’e, araştırma merkezi sayısını ise 31’e çıkarmıştır.
                            </p>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- END section -->

    <section class="site-section pt-3 element-animate">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="media block-6 d-block">
                        <div class="icon mb-3"><span class="flaticon-book"></span></div>
                        <div class="media-body">
                            <h3 class="heading">YOĞUN UYGULAMALI EĞİTİM</h3>
                            <p>Üniversitemiz, öğrencilerimizin özel şirket ve kamu kurumlarında uygulama yapmalarına öncelikli olarak önem vermektedir.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media block-6 d-block">
                        <div class="icon mb-3"><span class="flaticon-student"></span></div>
                        <div class="media-body">
                            <h3 class="heading">YURT DIŞI EĞİTİM İMKÂNLARI</h3>
                            <p>Erasmus Öğrenci Değişim Programı çerçevesinde öğrencilerine, 3-12 aylık dönemlerde yurt dışında eğitim olanakları sağlamaktadır. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="media block-6 d-block">
                        <div class="icon mb-3"><span class="flaticon-diploma"></span></div>
                        <div class="media-body">
                            <h3 class="heading">SEKİZ FARKLI DİL</h3>
                            <p>Yabancı dilde yürütülen, uluslararası standartlardaki profesyonel eğitim anlayışıyla, globalleşen dünyanın ortak dillerini gözeten bir eğitim yaklaşımına sahiptir.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="media block-6 d-block">
                        <div class="icon mb-3"><span class="flaticon-professor"></span></div>
                        <div class="media-body">
                            <h3 class="heading">GÜÇLÜ AKADEMİK KADRO</h3>
                            <p>Üniversitemiz, her biri kendi uzmanlık alanında önemli başarılara imza atmış 302 tam zamanlı, 98 yarı zamanlı akademisyen kadrosuna sahiptir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
    <section class="site-section bg-light element-animate" id="section-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <figure><img src="~/university/images/img_2_b.jpg" alt="Image placeholder" class="img-fluid"></figure>
                </div>
                <div class="col-lg-5 ml-auto">
                    <div class="block-15">
                        <div class="heading">
                            <h2>İş Hayatına Açılan Kapı</h2>
                        </div>
                        <div class="text mb-5">
                            <p>
                                Üniversitemiz, her gün gelişen bilgi teknolojilerine uygun dizayn edilmiş laboratuvarlar eşliğinde, sertifikasyon süreçleri ile desteklenen gelişim programları ve bilgi işlem prosedürlerine sahiptir.

                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="block-18 d-flex align-items-center">
                                <div class="icon mr-4">
                                    <span class="flaticon-student"></span>
                                </div>
                                <div class="text">
                                    <strong class="number" data-number="12921">0</strong>
                                    <span>Öğrenciler</span>
                                </div>
                            </div>

                            <div class="block-18 d-flex align-items-center">
                                <div class="icon mr-4">
                                    <span class="flaticon-university"></span>
                                </div>
                                <div class="text">
                                    <strong class="number" data-number="51">0</strong>
                                    <span>Okullar</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="block-18 d-flex align-items-center">
                                <div class="icon mr-4">
                                    <span class="flaticon-books"></span>
                                </div>
                                <div class="text">
                                    <strong class="number" data-number="3902">0</strong>
                                    <span>Kitaplar</span>
                                </div>
                            </div>

                            <div class="block-18 d-flex align-items-center">
                                <div class="icon mr-4">
                                    <span class="flaticon-mortarboard"></span>
                                </div>
                                <div class="text">
                                    <strong class="number" data-number="1921">0</strong>
                                    <span>Mezunlar</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12 text-center copyright">

                    <p class="float-md-left">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright © 2020. Tüm hakları Saklıdır | Design by İSA ÇETİN
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <p class="float-md-right">
                        <a href="#" class="fa fa-facebook p-2"></a>
                        <a href="#" class="fa fa-twitter p-2"></a>
                        <a href="#" class="fa fa-linkedin p-2"></a>
                        <a href="#" class="fa fa-instagram p-2"></a>

                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="~/university/js/jquery-3.2.1.min.js"></script>
    <script src="~/university/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/university/js/popper.min.js"></script>
    <script src="~/university/js/bootstrap.min.js"></script>
    <script src="~/university/js/owl.carousel.min.js"></script>
    <script src="~/university/js/jquery.waypoints.min.js"></script>
    <script src="~/university/js/jquery.stellar.min.js"></script>
    <script src="~/university/js/jquery.animateNumber.min.js"></script>

    <script src="~/university/js/jquery.magnific-popup.min.js"></script>

    <script src="~/university/js/main.js"></script>
</body>
</html>