@model OgrenciNotMvc.Models.EntitiyFramework.TBLNOTLAR
@{
    ViewBag.Title = "YeniSinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" role="alert">
    <strong>Yeni Sınav Girişi</strong>
</div>

<div>
    <form method="post" class="form-group">
        <div>
            <label>Öğrenci ID</label>
            <input type="text" class="form-control" name="OGRENCIID" />
        </div>
        <div style="margin-top:10px">
            <label>Ders ID</label>
            @Html.DropDownListFor(m => m.TBLDERS,(List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        </div>
        <div style="margin-top:10px">
            <label>Vize</label>
            <input type="text" class="form-control" name="Vize" />
        </div>
        <div style="margin-top:10px">
            <label>Final</label>
            <input type="text" class="form-control" name="Final" />
        </div>
        <div style="margin-top:10px">
            <button class="btn btn-primary">Sınav Ekle</button>
        </div>
    </form>
</div>

