<!doctype html>
<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Öğrenci Not Sistemi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/kiaalap/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/owl.carousel.css">
    <link rel="stylesheet" href="~/kiaalap/css/owl.theme.css">
    <link rel="stylesheet" href="~/kiaalap/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/main.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/kiaalap/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/kiaalap/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/editor/select2.css">
    <link rel="stylesheet" href="~/kiaalap/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="~/kiaalap/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/kiaalap/css/editor/x-editor-style.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/kiaalap/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" href="~/kiaalap/css/notifications/Lobibox.min.css">
    <link rel="stylesheet" href="~/kiaalap/css/notifications/notifications.css">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <img class="main-logo" src="~/kiaalap/img/logo/logosn.png" alt="" />
                <strong><img src="~~/kiaalap/img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" href="~/Ogretmenler/Index" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Öğretmenler</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="~/Ogrenci/Index" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Öğrenciler</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="~/Dersler/Index" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Dersler</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="~/Notlar/Index" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">Notlar</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="~/Admin/Index" aria-expanded="false"><span class="educate-icon educate-settings icon-wrap"></span> <span class="mini-click-non">Admin Ekle</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="~/GirisYap/Cikis" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Çıkış Yap</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <img class="main-logo" src="~/kiaalap/img/logo/logo.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item dropdown">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-message edu-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                                    <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                        <div class="message-single-top">
                                                            <h1>
                                                                Mesajlar
                                                            </h1>
                                                        </div>
                                                        <div class="message-view">
                                                            <a href="#">Tüm Mesajları Görüntüle</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-bell" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                    <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                        <div class="notification-single-top">
                                                            <h1>Bildirimler</h1>
                                                        </div>
                                                        <div class="notification-view">
                                                            <a href="#">
                                                                Tüm Bildirimi Görüntüle
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <img src="~/kiaalap/img/product/pro4.jpg" alt="" />
                                                        <span class="admin-name">@User.Identity.Name</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item nav-setting-open">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-menu"></i></a>

                                                    <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated zoomIn">

                                                        <div class="tab-content custom-bdr-nt">
                                                            <div id="Notes" class="tab-pane fade in active">
                                                                <div class="notes-area-wrap">
                                                                    <div class="note-heading-indicate">
                                                                        <h2><i class="fa fa-comments-o"></i> Son Notlar</h2>
                                                                        <p>
                                                                            0 yeni mesajınız var.
                                                                        </p>
                                                                    </div>
                                                                    <div class="notes-list-area notes-menu-scrollbar">

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcome-area">
            @RenderBody()
        </div>
    </div>
    <!-- x-editable Start-->
    <!-- jquery
        ============================================ -->
    <script src="~/kiaalap/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/kiaalap/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/kiaalap/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/kiaalap/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/kiaalap/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/kiaalap/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/kiaalap/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/kiaalap/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/kiaalap/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/kiaalap/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/kiaalap/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="~/kiaalap/js/calendar/moment.min.js"></script>
    <script src="~/kiaalap/js/calendar/fullcalendar.min.js"></script>
    <script src="~/kiaalap/js/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/kiaalap/js/tab.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="~/kiaalap/js/editable/jquery.mockjax.js"></script>
    <script src="~/kiaalap/js/editable/mock-active.js"></script>
    <script src="~/kiaalap/js/editable/select2.js"></script>
    <script src="~/kiaalap/js/editable/moment.min.js"></script>
    <script src="~/kiaalap/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/kiaalap/js/editable/bootstrap-editable.js"></script>
    <script src="~/kiaalap/js/editable/xediable-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/kiaalap/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/kiaalap/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="~/kiaalap/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/kiaalap/js/notifications/Lobibox.js"></script>
    <script src="~/kiaalap/js/notifications/notification-active.js"></script>
</body>

</html>